


body{
  background-image: linear-gradient(to top, #6f0000, #2f0743);
}


@font-face {
  font-family: "Monoton";
  font-style: normal;
  font-weight: 400;
  src: local("Monoton"), local("Monoton-Regular"),
    url(http://themes.googleusercontent.com/static/fonts/monoton/v4/AKI-lyzyNHXByGHeOcds_w.woff)
      format("woff");
}

.Container{
  text-align: center;
}

.title{
  text-align: center;
  font-size: 7em;
  letter-spacing: 5px;
  color: #ff1177;
  font-family: Monoton;
}




@media(max-width:677px){
  .title{
    font-size: 2.5rem;
  }
}